html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  background-color: #eaddff;
}

* {
  font-family: Hubballi;
}
.title {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.title img {
  width: 370px;
}

.high-score,
.current-score {
  display: flex;
  justify-content: center;
  font-size: 35px;

  margin-top: -15px;
}

.settings-cog {
  position: absolute;
  left: 30px;
  top: 30px;
}
.settings-cog img {
  width: 35px;
}

.default-table {
  display: flex;
  justify-content: center;
  margin-top: 170px;
}
.default-table img {
  width: 330px;
}

.play {
  font-size: 35px;
  width: 500px;
  position: absolute;
  text-align: center;
  bottom: 15vh;
  left: 50%;
  transform: translateX(-50%);
}
